@import "tailwindcss";

/* Global Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font variables from next/font */
  --font-syne: var(--font-syne);
  --font-robotoMono: var(--font-roboto-mono);
}

/* Light & Dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", sans-serif; /* Default Syne */
}

/* Headings - use Syne */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-syne), sans-serif;
  font-weight: 500;
}

/* Section spacing */
.section {
  @apply py-10 border-t;
}

/* Headings responsive */
h1 {
  @apply text-4xl md:text-5xl lg:text-7xl; /* scales on larger screens */
}

h2 {
  @apply text-3xl md:text-4xl lg:text-6xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-5xl;
}

h4 {
  @apply text-xl md:text-2xl lg:text-3xl;
  font-family: var(--font-syne), sans-serif;
}

h5 {
  @apply text-lg md:text-xl lg:text-2xl;
}

h6 {
  @apply text-base md:text-lg lg:text-lg;
  font-family: var(--font-roboto-mono), monospace;
  font-weight: 400;
}

/* Utility font class */
.font-syne {
  font-family: var(--font-syne), sans-serif;
  font-weight: 500;
}

.button {
  @apply bg-black px-6 py-2 text-white text-base rounded-md cursor-pointer transition-all duration-300 max-w-fit;
  font-family: "Satoshi", sans-serif;
  font-weight: medium;
}
.button1 {
  @apply px-6 py-2 border text-base rounded-md cursor-pointer transition-all duration-300 max-w-fit;
  font-family: "Satoshi", sans-serif;
  font-weight: medium;
}
.button:hover {
  @apply bg-neutral-800 scale-105;
}
